extends layout

block content
  if authenticated
    h2 Welcome back, #{user.name} !
    a(href="/logout") Logout
  else
    h2 Welcome, new visitor! #{authenticated}
    ul
      li: a(href="/login") Login
      li: a(href="/register") Register
