doctype html
html
  head
    title= title
    block style
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href="/stylesheets/validate_form.css")
        link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
    block script
        script(src="/javascripts/jquery-1.9.1.min.js")
        script(src="/javascripts/jquery.validate.js")
  body
    block content
