doctype html
html
	head
		title= title
		link(rel="stylesheet", href="/stylesheets/ng-admin/ng-admin.min.css") 
	body(ng-app="myApp")
		div(ui-view)
		script(src="/javascripts/ng-admin/ng-admin.min.js")
		script(src="/javascripts/admin.js")
